<p>&copy; 2026 Al Ikhsan Muis Malik. All rights reserved.</p>

<div class="flex items-center space-x-4">
    <a href="https://facebook.com/ikhsannahdillah" target="_blank" class="hover:text-gray-900 transition">Facebook</a>
    <span class="text-gray-300">&bull;</span>
    <a href="https://instagram.com/ikhsannahdillah" target="_blank" class="hover:text-gray-900 transition">Instagram</a>
    <span class="text-gray-300">&bull;</span>
    <a href="https://www.linkedin.com/in/ikhsannahdillah/" target="_blank" class="hover:text-gray-900 transition">LinkedIn</a>
</div>